.Footer {
    margin-top: 50px;
    height: 10vh;
    background-color: #06283D;
}

.Footer > hr {
    margin: 0px 50px;
}

.Footer > div {
    height: 100%;
    margin: 0px 60px;
    max-width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: #DFF6FF;
}

.github {
    height: 24px;
    width: 24px;
}