@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');

.Home {
    background-color: #FCFFE7;
    // height: 100vh;
    width: 100%;
    max-width: 900px;
    padding: 50px 8% 0%;

    p {
        color: black;
    }

    img {
        width: 100%;
        margin-bottom: 80px;
    }

    h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 25px;
        margin: 50px 0px 20px;
        color: #F8DE3C;
    }

    .character {
        color: #C8472C;
    }

    .episode {
        color: #412A1E;
    }

    .seasons {
        color: #105EDD;
    }

    .quotes {
        color: #F8DE3C;
    }

    .Alert {
        margin: 10px 0px;
    }

    

    h2 {
        color: black;
        font-weight: 400;
    }

    .url {
        border: 1px solid;
        padding: 5px 10px;
        margin-left: 20px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: red;
            font-weight: bold;
            margin: 0px 5px;
        }

        nav {
            display: flex;
        }

        img {
            height: 24px;
            width: 24px;
            margin: 0;
            cursor: pointer;
        }
    }

    pre {
        margin: 10px 0px;

        h1 {
            color: #000;
            margin: 10px 0px;
        }

        div {
            padding: 5px;
            border-radius: 8px;
            background-color: #caccb9;
        }
    }


    .json {
        margin: 10px 0px 10px 20px;
        padding: 10px 0px;
        overflow-x: scroll;
    }
}